# PostgreSQL
POSTGRES_DB=todo_db
POSTGRES_USER=username
POSTGRES_PASSWORD=password

# pgAdmin (dev only — not used in compose.prod.yml)
PGADMIN_EMAIL=change@me.com
PGADMIN_PASSWORD=changeme

JWT_SECRET=your-secret-token
ADMIN_PASSWORD=changeme

# GCP INFO
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=europe-west3
GCP_SA_EMAIL=todo-deployer@your-gcp-project-id.iam.gserviceaccount.com