server {
    listen 8080;
    root /usr/share/nginx/html;
    index index.html;

    resolver 8.8.8.8 valid=300s;

    location /api/ {
        set $backend ${BACKEND_URL};
        proxy_pass $backend;
        proxy_set_header Host $proxy_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_ssl_server_name on;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
